Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd 
import seaborn as sns 
df=sns.load_dataset("iris")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [7]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [9]:
data = {'A': [1,1,3,5,8,13,21,34,55],
        'B': ['a', 'b', 'c', 'd', 'e','f', 'g','h','i'],
        'C': [1.0, 2.1, 3.3, 4.4, 5.5,4.3, 5.4,6.3,7.4]}

df = pd.DataFrame(data)
df

    A  B    C
0   1  a  1.0
1   1  b  2.1
2   3  c  3.3
3   5  d  4.4
4   8  e  5.5
5  13  f  4.3
6  21  g  5.4
7  34  h  6.3
8  55  i  7.4

In [10]:
new_index=list(range(1,2*len(df),2))
new_index

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [11]:
df.index=new_index
df

     A  B    C
1    1  a  1.0
3    1  b  2.1
5    3  c  3.3
7    5  d  4.4
9    8  e  5.5
11  13  f  4.3
13  21  g  5.4
15  34  h  6.3
17  55  i  7.4

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [12]:
data = {'Values': [10, 20, 30, 40, 50],
}

df = pd.DataFrame(data)
df

   Values
0      10
1      20
2      30
3      40
4      50

In [13]:
def sum(df):
    sum = 0
    count = 0
    for each_value in df['Values']:
        sum = sum+each_value
        count+=1
        if count>=3:
            break
    return sum

In [14]:
sum(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column'Word_Count' that contains the number of words in each row of the 'Text' column.

In [15]:
data={'text':["my name is suraj ","I want to became a data scientist ","I have to learn data science ",]}
df = pd.DataFrame(data)
df

                                 text
0                   my name is suraj
1  I want to became a data scientist
2       I have to learn data science

In [17]:
def word_count(x):
    count = len(x.split(' '))
    return count
df['Word_Count']=df['text'].apply(word_count)
df

                                 text  Word_Count
0                   my name is suraj            5
1  I want to became a data scientist            8
2       I have to learn data science            7

Q5. How are DataFrame.size() and DataFrame.shape() different?

syntax: dataframe.size
Return : Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.

Syntax: dataframe.shape
Return : Returns tuple of shape (Rows, columns) of dataframe/series

In [20]:
df1=sns.load_dataset("tips")
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
df1.shape

(244, 7)

In [22]:
df1.size

1708

Q6. Which function of pandas do we use to read an excel file?

pandas.read_excel() function is used to read excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains emailaddresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [27]:
data = {'Email': ['suraj@gmail.com','vikas@gmail.com','ravi@gmail.com','vikaram@gmail.com','ajay@gmail.com']}

df = pd.DataFrame(data)
df

               Email
0    suraj@gmail.com
1    vikas@gmail.com
2     ravi@gmail.com
3  vikaram@gmail.com
4     ajay@gmail.com

In [28]:
usernames = []

for each_email in df['Email']:
    name = each_email.split('@')
    usernames.append(name[0])

df['Username']=usernames
df

               Email Username
0    suraj@gmail.com    suraj
1    vikas@gmail.com    vikas
2     ravi@gmail.com     ravi
3  vikaram@gmail.com  vikaram
4     ajay@gmail.com     ajay

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [30]:
data = {'A': [3, 8, 6, 2, 9,3,5,6,7,7],
        'B': [5, 2, 9, 3, 1,3,4,5,6,7],
        'C': [1, 7, 4, 5, 2,2,3,4,5,6],
       }

df = pd.DataFrame(data)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2
5  3  3  2
6  5  4  3
7  6  5  4
8  7  6  5
9  7  7  6

In [32]:
def func(df):
    i = 0
    index=[]
    for elem_A, elem_B in zip(df['A'],df['B']):
        if elem_A>5 and elem_B<10:
            index.append(i) 
        i+=1
    
    new_df = df.loc[index]
    return new_df

new_df = func(df)
new_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2
7  6  5  4
8  7  6  5
9  7  7  6

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [34]:
data = {'Values': [10, 20, 30, 40, 50,45,55,60,70,80,89,90],
}

df3 = pd.DataFrame(data)
df3

    Values
0       10
1       20
2       30
3       40
4       50
5       45
6       55
7       60
8       70
9       80
10      89
11      90

In [36]:
df3.mean()

Values    53.25
dtype: float64

In [37]:
df3.median()

Values    52.5
dtype: float64

In [41]:
df.std()

Values    26.014419
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [42]:
data = {'Sales': [1.1, 2.2, 3.3, 4.4, 5.5,1.1, 2.2,1.1, 2.2, 3.3, 4.4, 5.5,1.1, 2.2]}

df = pd.DataFrame(data)
df.head()

   Sales
0    1.1
1    2.2
2    3.3
3    4.4
4    5.5

In [43]:
def moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [44]:
new_df = moving_average(df)
new_df.head()

   Sales  MovingAverage
0    1.1           1.10
1    2.2           1.65
2    3.3           2.20
3    4.4           2.75
4    5.5           3.30

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [45]:
data = {
    'Date': ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05', '2023-01-06']
}

df = pd.DataFrame(data)
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06

In [46]:
def weekday_func(df):
    weekdays=[]
    for each_date in df['Date']:
        temp = each_date.split('-')
        if temp[2]=='01':
            weekdays.append('Sunday')
        
        elif temp[2]=='02':
            weekdays.append('Monday')
            
        elif temp[2]=='03':
            weekdays.append('Tuesday')
            
        elif temp[2]=='04':
            weekdays.append('Wednesday')
            
        elif temp[2]=='05':
            weekdays.append('Thursday')
        
        elif temp[2]=='06':
            weekdays.append('Friday')
            
        
    df['Weekdays'] = weekdays
    return df

new_df = weekday_func(df)
new_df

         Date   Weekdays
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday
5  2023-01-06     Friday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [47]:
data = {
    'Date': ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05', '2023-01-06']
}

df = pd.DataFrame(data)
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06

In [51]:
def selected_dates(df):
    start_date = '2023-01-03'
    end_date = '2023-01-05'
    mask = (df['Date'].dt.date >= pd.to_datetime(start_date).date()) & (df['Date'].dt.date <= pd.to_datetime(end_date).date())
    return df.loc[mask]

In [52]:
df['Date'] = pd.to_datetime(df['Date'])

new_data = selected_dates(df)
new_data

        Date
2 2023-01-03
3 2023-01-04
4 2023-01-05

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [53]:
import pandas as pd