Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). 

The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
reindex=[3,0,1,2]
new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc: Since the index of new_df is now [3, 0, 1, 2], new_df.loc[] will print the row at the label 2 in the index.

new_df.iloc: new_df.iloc[2] returns the row that has the integer position 2 in the index.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [7]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.776652  0.110750  0.362193  0.982867  0.699013  0.097135
2  0.928370  0.632807  0.864763  0.705696  0.922441  0.527694
3  0.917038  0.074054  0.648439  0.379887  0.316402  0.662209
4  0.124013  0.265485  0.543263  0.283405  0.199148  0.346825
5  0.930656  0.081301  0.690640  0.640271  0.943252  0.173235
6  0.215580  0.948771  0.081716  0.926284  0.655045  0.685888

In [8]:
df1.columns

Index(['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6'], dtype='object')

In [9]:
df1[['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']].mean()

column_1    0.648718
column_2    0.352195
column_3    0.531836
column_4    0.653068
column_5    0.622550
column_6    0.415498
dtype: float64

In [10]:
df1.mean(axis=0)

column_1    0.648718
column_2    0.352195
column_3    0.531836
column_4    0.653068
column_5    0.622550
column_6    0.415498
dtype: float64

In [11]:
df1['column_2'].std()

0.3608893618753555

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [12]:
df1['column_2'].loc[2]='nan'

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.776652   0.11075  0.362193  0.982867  0.699013  0.097135
2  0.928370       nan  0.864763  0.705696  0.922441  0.527694
3  0.917038  0.074054  0.648439  0.379887  0.316402  0.662209
4  0.124013  0.265485  0.543263  0.283405  0.199148  0.346825
5  0.930656  0.081301  0.690640  0.640271  0.943252  0.173235
6  0.215580  0.948771  0.081716  0.926284  0.655045  0.685888

In [14]:
df1['column_2'].mean()

TypeError: ignored

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window," that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, depending on the type of window function used.

The types of window functions available in pandas can be broadly classified into the following categories:

Rolling functions: These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

Expanding functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

Exponentially weighted functions: These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

Cumulative functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

Aggregating functions: These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [15]:
import datetime
date=pd.datetime.now()
date

<ipython-input-15-9a7d184e8fc6>:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  date=pd.datetime.now()

datetime.datetime(2023, 3, 13, 10, 17, 9, 508020)

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [16]:
from datetime import datetime, timedelta
 
# Using current time
ini_time_for_now = datetime.now()
 
# printing initial_date
print ("initial_date", str(ini_time_for_now))
 
# Some another datetime
new_final_time = ini_time_for_now + \
                 timedelta(days = 2)
 
# printing new final_date
print ("new_final_time", str(new_final_time))
 
 
# printing calculated past_dates
print('Time difference:', str(new_final_time - \
                             ini_time_for_now))

initial_date 2023-03-13 10:17:11.100512
new_final_time 2023-03-15 10:17:11.100512
Time difference: 2 days, 0:00:00

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [17]:
import seaborn as sns
df4=sns.load_dataset("titanic")
df4.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [18]:
df4.shape

(891, 15)

In [19]:
df4.sort_values(by = "pclass")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
445,1,1,male,4.0,0,2,81.8583,S,First,child,False,A,Southampton,yes,False
310,1,1,female,24.0,0,0,83.1583,C,First,woman,False,C,Cherbourg,yes,True
309,1,1,female,30.0,0,0,56.9292,C,First,woman,False,E,Cherbourg,yes,True
307,1,1,female,17.0,1,0,108.9000,C,First,woman,False,C,Cherbourg,yes,False
306,1,1,female,NaN,0,0,110.8833,C,First,woman,False,NaN,Cherbourg,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,0,3,male,19.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
381,1,3,female,1.0,0,2,15.7417,C,Third,child,False,NaN,Cherbourg,yes,False
382,0,3,male,32.0,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
371,0,3,male,18.0,1,0,6.4958,S,Third,man,True,NaN,Southampton,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [32]:
from google.colab import files
 
 
uploaded = files.upload()

Saving Sales_March_2019.csv to Sales_March_2019 (1).csv

In [33]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['Sales_March_2019.csv']))
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,162009,iPhone,1,700,03/28/19 20:59,"942 Church St, Austin, TX 73301"
1,162009,Lightning Charging Cable,1,14.95,03/28/19 20:59,"942 Church St, Austin, TX 73301"
2,162009,Wired Headphones,2,11.99,03/28/19 20:59,"942 Church St, Austin, TX 73301"
3,162010,Bose SoundSport Headphones,1,99.99,03/17/19 05:39,"261 10th St, San Francisco, CA 94016"
4,162011,34in Ultrawide Monitor,1,379.99,03/10/19 00:01,"764 13th St, San Francisco, CA 94016"

In [22]:
df['Date'] = pd.to_datetime(df['Order Date'])
grouped = df.groupby(['Product', 'Order Date']).sum()
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

ParserError: ignored

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [34]:
from google.colab import files
 
 
uploaded = files.upload()

Saving student_data.csv to student_data.csv

In [35]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['student_data.csv']))
df.head()

   Student ID,Test  Test Score
0                1          85
1                2          90
2                3          80
3                4          75
4                5          85

In [37]:
import pandas as pd
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)

mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()

print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")

Enter Filepath: student_data.csv
+----------+----------+
Statistic | Value
Mean:    83.5
Median:    85.0
Mode:    0    85
dtype: int64
+----------+----------+